#ban1{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-purple-polygon-gradient-banner-background-image_69118.jpg');
    background-repeat: no-repeat;
    height: 100px;
    color: white;
    font-weight: 100;
    background-size: 100%;
}

#cnt{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-purple-polygon-gradient-banner-background-image_69118.jpg');
    color: white;
    font-size: 28px;
}